.foto__jorge {
  width: 20%;
  height: 20%;
  margin-right: 00px;
  border-radius: 100px;
  margin-bottom: 100px;
  margin-left: 400px;
  float: left;
}

.exp__laboral__titulo {
  position: absolute;
  left: 0px;
}
